body {
    background-color: #1e1f22;
    font-family: Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.BackButton {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background-color: #C00000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

tr {
    color: black;
    background: #2a3248;
    border: 1px solid #000;
    border-radius: 2px;
}

table {
    margin: 5% 5% 5% 5%;
    width: 90%;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 25px;
    text-align: left;
}